{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/booklist_edit.css' %}">
{% endblock %}

{% block content %}

<h1>Edit Booklist</h1>

<h1>{{ booklist.title }}</h1>

<ul>
    {% for book in books %}
    <li>
        <a href="/library/{{book.id}}">{{book.artist}} - {{book.title}}</a>
        <span>
            <form action="/booklists/{{booklist.id}}/remove-book/{{book.id}}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn remove">Remove Book</button>
            </form>
        </span>
    </li>
    {% endfor %}
</ul>

<form action="{% url 'update-booklist' booklist.id %}">
    <button class="btn add">Add a book to "{{booklist.title}}"</button>
</form>

<form action="{% url 'delete-booklist' booklist.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn delete">Delete Booklist</button>
</form>

{% endblock %}
