{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/booklists.css' %}">
{% endblock %}

{% block content %}

<h1>Book Lists</h1>

<div class="booklists">
    {% for booklist in booklists %}
    <div class="booklist-item">
        <a href="/booklists/{{ booklist.id }}">{{ booklist.title }}</a>
    </div>
    {% endfor %}
</div>

<form action="{% url 'create-booklist' %}" method="get">
    <button type="submit" class="btn create">Create a Booklist</button>
</form>

{% endblock %}
